In [36]:
import pandas as pd
import numpy as np

In [2]:
groceries = pd.Series(data=[30, 6, 'Yes', 'No'], index = ['eggs', 'apples', 'milk', 'bread'])

In [3]:
groceries

eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [4]:
groceries.shape

(4,)

In [5]:
groceries.ndim

1

In [6]:
groceries.size

4

In [8]:
print('The dats in Groceries is:' ,groceries.values)

The dats in Groceries is: [30 6 'Yes' 'No']

In [9]:
print('The dats in Groceries is:' ,groceries.index)

The dats in Groceries is: Index(['eggs', 'apples', 'milk', 'bread'], dtype='object')

In [10]:
'bread' in groceries

True

In [11]:
'bananas' in groceries

False

In [12]:
print('How many eggs do we need to buy:', groceries['eggs'])

How many eggs do we need to buy: 30

In [20]:
print('How many eggs do we need to buy:', groceries[['apples','bread']])

How many eggs do we need to buy: apples     6
bread     No
dtype: object

In [23]:
groceries.loc

In [24]:
print('How many eggs and apples do we need to buy:\n',  groceries[[0, 1]])

How many eggs and apples do we need to buy:
 eggs      30
apples     6
dtype: object

In [25]:
print('Do we need bread:\n', groceries[[-1]])

Do we need bread:
 bread    No
dtype: object

In [26]:
print('Modified Grocery List:\n', groceries)

Modified Grocery List:
 eggs       30
apples      6
milk      Yes
bread      No
dtype: object

In [27]:
groceries['eggs']=20

In [28]:
groceries

eggs       20
apples      6
milk      Yes
bread      No
dtype: object

In [29]:
groceries.drop('apples')

eggs      20
milk     Yes
bread     No
dtype: object

In [30]:
groceries

eggs       20
apples      6
milk      Yes
bread      No
dtype: object

In [31]:
groceries.drop('apples',inplace=True)
groceries

eggs      20
milk     Yes
bread     No
dtype: object

In [32]:
fruits=pd.Series(data = [10, 6, 3,], index = ['apples', 'oranges', 'bananas'])

In [33]:
fruits

apples     10
oranges     6
bananas     3
dtype: int64

In [35]:
print('fruits / 2:\n', fruits / 2)

fruits / 2:
 apples     5.0
oranges    3.0
bananas    1.5
dtype: float64

In [37]:
print('POW(X,2) =\n',np.power(fruits,2))

POW(X,2) =
 apples     100
oranges     36
bananas      9
dtype: int64

In [40]:
print('POW(X,2) =\n',np.power(fruits[['apples', 'oranges']] ,2))

POW(X,2) =
 apples     100
oranges     36
dtype: int64

In [42]:
fruits[['apples', 'oranges']] * 2
groceries * 2

eggs         40
milk     YesYes
bread      NoNo
dtype: object

In [43]:
items = {'Bob' : pd.Series(data = [245, 25, 55], index = ['bike', 'pants', 'watch']),
         'Alice' : pd.Series(data = [40, 110, 500, 45], index = ['book', 'glasses', 'bike', 'pants'])}

In [44]:
items

{'Bob': bike     245
 pants     25
 watch     55
 dtype: int64, 'Alice': book        40
 glasses    110
 bike       500
 pants       45
 dtype: int64}

In [45]:
shopping_carts = pd.DataFrame(items)

In [46]:
shopping_carts

           Bob  Alice
bike     245.0  500.0
book       NaN   40.0
glasses    NaN  110.0
pants     25.0   45.0
watch     55.0    NaN

In [49]:
print('The column index in shopping_carts is:', shopping_carts.columns)

The column index in shopping_carts is: Index(['Bob', 'Alice'], dtype='object')

In [50]:
print('The row index in shopping_carts is:', shopping_carts.index)

The row index in shopping_carts is: Index(['bike', 'book', 'glasses', 'pants', 'watch'], dtype='object')

In [52]:
bob_shopping_cart = pd.DataFrame(items, columns=['Bob'])
bob_shopping_cart

       Bob
bike   245
pants   25
watch   55

In [54]:
sel_shopping_cart = pd.DataFrame(items, index = ['pants', 'book'])

sel_shopping_cart

        Bob  Alice
pants  25.0     45
book    NaN     40

In [56]:
# We create a dictionary of lists (arrays)
data = {'Integers' : [1,2,3],
        'Floats' : [4.5, 8.2, 9.6]}

# We create a DataFrame 
df = pd.DataFrame(data)

# We display the DataFrame
df

   Integers  Floats
0         1     4.5
1         2     8.2
2         3     9.6

In [57]:
# We create a DataFrame and provide the row index
df = pd.DataFrame(data, index = ['label 1', 'label 2', 'label 3'])

In [58]:
df

         Integers  Floats
label 1         1     4.5
label 2         2     8.2
label 3         3     9.6

In [59]:
# We create a list of Python dictionaries
items2 = [{'bikes': 20, 'pants': 30, 'watches': 35}, 
          {'watches': 10, 'glasses': 50, 'bikes': 15, 'pants':5}]

# We create a DataFrame 
store_items = pd.DataFrame(items2)

# We display the DataFrame
store_items

   bikes  pants  watches  glasses
0     20     30       35      NaN
1     15      5       10     50.0